.MathJax svg{
    display: inline;
}\n.hide-scrollbar {\n  scrollbar-width: none;\n  -ms-overflow-style: none;\n}\n\n.hide-scrollbar::-webkit-scrollbar {\n  display: none;\n}\n

/* CodeMirror scrollbar hiding */
.cm-editor .cm-scroller {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cm-editor .cm-scroller::-webkit-scrollbar {
  display: none;
}
