@media (min-width: 1650px) {
  .inspector-visual {
    height: 190px;
  }
  .inspector-body {
    padding: 23px 22px 19px;
  }
  .inspector-body h2 {
    font-size: 28px;
  }
  .inspector-meaning {
    font-size: 13px;
  }
  .inspector-prereqs button {
    font-size: 12px;
    padding: 9px 0;
  }
  .inspector-stats {
    font-size: 10px;
  }
}
@media (max-width: 1250px) {
  .inspector-body {
    padding: 17px 13px;
  }
  .inspector-body h2 {
    font-size: 22px;
  }
  .inspector-stats {
    gap: 8px;
    font-size: 7px;
  }
  .inspector-visual {
    height: 148px;
  }
  .inspector-category {
    font-size: 8px;
  }
}
@media (max-width: 1000px) {
  .inspector {
    display: none;
  }
}
